{% extends 'base.html' %}
{% block container %}

{%for book in books%}
<div class = "private_button">
    <form action="/profile" method="post">
        <button class = "user-button" name= "id" id= "id" value = "{{ book.creator }}">{{ book.creator }}</button>
    </form>
<div class = "private_button">
<form action="/book" method="post">
    <button class = "shared-book" name= "id" id= "id" value = "{{ book._id }}">
    <div class ="front-cover">
        <br>
        <h1>{{ book.title }}</h1>
    </div>
    <div class = "page"></div>
    <div class = "page"></div>
    <div class = "page"></div>
    <div class = "page"></div>
    <div class = "page"></div>
    <div class = "back-cover">
        <br><br><br><br><br>
        <h1>READ ME!</h1>
    </div>
</div>
</form>
</div>
{%endfor%}

{% endblock %}
