{% extends 'base.html' %}
{% block container %}
{% if page >0 %}
<form action="/book" method="get">
    <button type="submit" name="page" value={{page-1}} class="prev">&laquo;</button>
</form>
{% endif %}
<div class = "open-book">
    <div class ="open-cover"></div>
    <div class = "left-page"></div>
    <div class = "right-page">
        <br>
        <h1>{{content}}</h1>
    </div>
    <div class = "flip-page">
        <img src= {{url}}>
    </div>
    <div class = "open-back-cover">
    </div>
</div>
{% if page < last_page-1 %}
<form action="/book" method="get">
    <button type="submit" name="page" value={{page+1}} class="next">&raquo;</button>
</form>
{% endif %}

  {% endblock %}
