{% extends 'base.html' %}
{% block container %}
<div class="h-75 d-flex align-items-center justify-content-center">
    <div class="card card-container col-md-4 mx-auto" style="border-radius: 2em; text-align: center; box-shadow: 0 5px 10px rgba(0,0,0,.2); background-color: #c3dbc5">
        <center>
            <h3 class="banner mt-3">
                Register
            </h3>
            <form action="/register" method="POST">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                            <center><div class="message">{{ message }}</div></center>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <label for="username">First Name</label><br>
                <input class="form-control col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3" type="text" name="firstName" required>
                <label for="username">Last Name</label><br>
                <input class="form-control col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3" type="text" name="lastName" required>
                <label for="username">Username</label><br>
                <input class="form-control col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3" type="text" name="username" required>
                <label for="password">Password</label><br>
                <input class="form-control col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3" type="password" name="password" required>
                <input class="btn btn-primary mt-3" type="submit" value="Register">
            </form>
            <form class="authentication-container" action="/" method="GET">
                <center>
                    <input class="btn btn-primary mt-3 mb-4" type="submit" value="Cancel">
                </center>
            </form>
        </center>
    </div>
</div>
{% endblock %}
